header{
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content:  end;
    padding: 10px 18px;

    button{
        border: 1px solid red;
        border-radius: 25px;
        background-color: transparent;
        color: red;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover{
            background-color: rgb(245, 202, 202);
        }
    }
}