.create-recipe-dialog {
  width: 500px;
  height: auto;
  padding: 18px;
  box-sizing: border-box;
  
  form{
    display: flex;
    flex-direction: column;
    gap: 15px; 
    border-top: 1px solid #ccc;
    padding-top: 10px;
    box-sizing: border-box;
    
    label{
      font-weight: 600;
      margin-bottom: 5px;

      input{
        height: 28px;
        outline: none;
        border: none;
        border: 1px solid rgb(161, 161, 161);
        border-radius: 20px;

        padding: 8px;
        box-sizing: border-box;

        &:focus{
          border-color: rgb(55, 104, 179);
        }
      }
    }

    mat-form-field{
      width: 90%;
    }

    .tempo-preparo{
      display: flex;
      flex-direction: column;
      gap: 10px;

      mat-button-toggle-group{
        width: 170px;
      }

    }
  }
}

@media screen and (max-width: 540px) {
    .create-recipe-dialog{
        width: 90%;
    }
}