mat-dialog-content {
    padding: 15px;

    h2 {
        margin: 0;
        margin-top: 15px;
    }

    .ingredientes,
    .preparo {
        padding: 0;

        ul {
            padding: 0 20px;
        }
    }

    .btns{
        display: flex;
        justify-content: end;
        gap: 8px;
        padding: 0;

        button{
            background-color: transparent;
            padding: 4px;
            cursor: pointer;
            transition: all .3s ease-in;
            border-radius: 10px;

            &:nth-child(1){
                border: 1px solid #010185;
                color: rgb(1, 1, 116);
                
                &:hover{
                    background-color: #bebefc;
                }
            }

            &:nth-child(2){
                border: 1px solid rgb(133, 1, 1);
                color: rgb(116, 1, 1);

                &:hover{
                    background-color: #fcbebe;
                }
            }
        }
    }
}

.btn-fechar {
    transition: all .5s ease;
    border-radius: 10px;
    
    &:hover {
        background-color: rgb(187, 187, 187);
    }
}