main {
    font-family: 'Segoe UI';
    padding: 20px;

    .receitas-container {
        display: flex;
        gap: 2%;

        .receita {
            height: auto;
            width: 160px;
            max-width: 160px;
            border: 1px solid rgb(161, 164, 170);
            padding: 8px;
            
            p > span{
                font-weight: 500;
            }

            p{
                margin: 0;
            }

            button{
                margin-top: 10px;
                border: none;
                border-bottom: .5px solid rgb(123, 124, 175);
                height: 20px;

                cursor: pointer;
            }
        }
    }
}