<app-header></app-header>
<main>
    <h1>Suas Recietas</h1>

    <div class="adicionar-receita">
        <button (click)="openCreateRecipeDialog()">Adicionar receita</button>
    </div>

    <div class="receitas-container">
        @if (recipesList.length > 0) {
        @for (receita of recipesList; track $index) {
        <div class="receita">
            <div>
                <p><span>{{receita.titulo}}</span></p>
                <p>{{receita.descricao}}</p>
            </div>
            <button (click)="openViewerReceita(receita)">ver receita..</button>
        </div>
        }
        } @else {
        <p class="default">Não há receitas cadastradas.</p>
        }
    </div>
</main>